body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 13%, rgba(63,37,84,1) 46%, rgba(106,103,106,1) 100%);
    color: rgb(83, 111, 240);
} 
.nav {
    width: 80%;
    display: flex;
}
.nav_link {
    color:orange;
    font-size: 1.5rem;
    padding-left: 1rem;
    text-decoration: none;
}
.nav_link:hover {
    color: white;
}
.nav-img {
    width: 10%;
}
ul {
    list-style: none;
}
li {
    color: rgb(204, 24, 144);
    padding: 2.5rem;
    font-size: 1.5rem;
}
#login {
    width: 100%;
    margin: auto;
}
#form_login, #form_cripto {
    display: flex;
    flex-direction: column;
}
#name, #dni, #CriptoName, #tag, #Cantidad, #Rendimiento {
    width: 20%;
}
#enviar_form {
    width: 8%;
    border-radius: 5px;
    margin-top: 2%;
}
.home__h1 {
    font-size: 4 rem;
    text-transform: uppercase;
    text-align: center;
}
.home__img {
    width: 25%;
    margin-left: 20%;
    margin-bottom: 5%;
}
.home__p {
    font-size: 1.5rem;
}
.wrapper {
    margin-top: 1% ;
}
